[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.8"
uvicorn = "==0.34.0"
python-dotenv = "==1.0.1"
redis = "*"
slowapi = "*"
aiohttp = "*"
httpx = "==0.28.1"
openai = "==1.61.0"
pydantic = "==2.10.6"
pydantic-core = "==2.27.2"
pyjwt = { extras = ["crypto"], version = "*" }
passlib = { extras = ["bcrypt"], version = "*" }
sqlalchemy = "*"
sendgrid = "*"
extruct = "*"
w3lib = "*"
playwright = "*"
beautifulsoup4 = "==4.13.0"
numpy = "==1.26.4"
tenacity = "*"
tqdm = "==4.67.1"
typing-extensions = "==4.12.2"
urllib3 = "==2.3.0"
colorama = "==0.4.6"
email-validator = "*"
asyncpg = "*"
fakeredis = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
aiosqlite = "*"
ruff = "==0.9.4"

[requires]
python_version = "3.11"
